:root {
    --light: #fafafa;
    --gray: #A3A3A3;
    --dark: #000000;
    --darker: #111111;
    --offwhite: rgb(255, 255, 255);
}

.wrapper {
    padding-top: 50px;
    justify-content: space-around;
    height: 100%;
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    padding: 10px;
    align-content: flex-start;
  }

.card {
    background-color: var(--white);
    border-radius: 50px;
    height: 450px;
    margin: 2rem;
    position: relative;
    width: 415px;
    box-shadow: 0 2px 3px var(--gray), 0 7px 15px var(--gray);

  }

.card:hover{
    background-color: rgb(251, 247, 255)
}


.card .img-container {
    height: 75%;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white);
}
.card .img-container img {
    width: 100%;
    padding: 25px;
    margin-bottom: 20px;
    background-color: var(--white);
  }


  .card .content {
    font-size: 18px;
    background-color: var(--white);
    color: var(--dark);
    font-weight: bold;
    text-align: center;
  }
  
.card-title{
    margin-top: 10px;
    color: var(--white);
  }
  
  
  .project-icons-container {
    background-color: var(--white);
  }
  
  .project-icon {
    background-color: var(--white);
    padding: 5px;
  }
  
  .topics {
    font-size: small;
    font-style: italic;
    color: var(--cultured);
    background-color: var(--white);
    border-radius: 50px;
  }
  